.idea
#*__pycache__*
*.pyc
.env
*.py[cod]
*$py.class
.installed.cfg
bin
develop-eggs
dist
parts
src/*.egg-info
lib
lib64

.git


/__pycache__/
/.pyc
venv/
static
/staticfiles/
staticfiles/*
/venv_3.8/
*.idea